/* GREEN STYLE */
a {
    color: #C00;
}
a:hover {
    color: #DF4926;
}
.navbar,
.widgettitle {
    border-color: #C00;
}
.navbar-nav>li.current-menu-item>a,
.navbar-nav>li.current-post-ancestor>a,
.navbar-nav>li.current-page-ancestor>a,
.navbar-nav>li.current-menu-item>a:hover,
.navbar-nav>li.current-post-ancestor>a:hover,
.navbar-nav>li.current-page-ancestor>a:hover,
.widget_calendar table thead {
    background: #C00;
}
a.btn, button.btn {
    background: #C00;
    border-color: #C00;
}
a.btn:hover, button.btn:hover, a.btn.active, button.btn.active {
    background: #DF4926;
    border-color: #DF4926;
}